<a class="card-container ">
    <div class="card-wrapper ">
        <img src="{{background}}" alt="" class="card-image">
        <img src="{{playerImg}}" alt="" class="player-image">
        <img src="{{flag}}" alt="" class="nation-image nation-sm-image">
        <img src="{{getEventThumb event}}" class="event-image event-sm-image">
        <span class="player-position text-uppercase">{{pos}}</span>
        <span class="player-rating ">{{rating}}</span>
        <span class="player-name" style="transform: scale(0.890411, 1);">{{playerName}}</span>
    </div>
</a>